body{
    background-color: pink;
}
.titulo{
    color: black;
    text-align: center;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    border: dashed;
}
a{
    color: dimgrey;
    font-size: 20px;
    font-family: monospace;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    text-decoration: none;
}
a:hover{
    color: hotpink;
    font-size: 25px;
}